{% extends "main.html" %}

{%block title%}
Studenti
{%endblock%}

{%load static%}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/users.css' %}">
{% endblock %}

{%block content%}
    {%if request.user.role == "ucitel" or request.user.role == "admin"%}
    <table class="table">
        <tr>
            <th>
                #
            </th>
            <th>
                Jméno
            </th>
            <th>
                Příjmení
            </th>
            <th>
                Třída
            </th>
            <th>
                Email
            </th>
            <th>
                Návrhy prací
            </th>
            <th>
                Zpracovává
            </th>
        </tr>
    {%for user in users%}
    {%if user.role == 'student'%}
        <tr>
            <td>
                {{forloop.counter}}
            </td>
            <td>
                {{user.jmeno}}
            </td>
            <td>
                {{user.prijmeni}}
            </td>
            <td>
                {{user.trida}}
            </td>
            <td>
                {{user.email}}
            </td>
            <td>
                <div class="list-group">
                    {%for prace in user.navrzene_prace.all%}
                    <a href="{% url 'work_detail' prace.id %}" class="list-group-item">
                        {{prace.nazev}}
                    </a>
                    {% empty %}
                        <li class="null" class="list-group-item">
                            null
                        </li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {%if user.zpracovana_prace%}
                    <li>
                        {{user.zpracovana_prace.nazev}}
                    </li>
                    {%else%}
                        <li class="null">
                            null
                        </li>
                    {% endif %}
                </ul>
            </td>
        </tr>
    {%endif%}
    {%endfor%}
    </table>
    {%else%}
        <h1>Nejste administrátor nebo učitel!</h1>
        {%endif%}
{%endblock%}