{% extends "main.html" %}

{%block title%}
Uživatelé
{%endblock%}

{% block styles %}
{%load static%}
    <link rel="stylesheet" href="{% static 'styles/uzivatele.css' %}">
{% endblock %}

{%block content%}
    {%if request.user.role == "admin"%}
    <!--tahle classka table dělá automatický css styl, je to z knihovny bootstrap
    https://www.w3schools.com/bootstrap/bootstrap_tables.asp
    Příjde mi to super na stylování a vlastně nic moc neřešíš a dělá to věci za tebe.-->
        <table class="table">
            <tr>
                <th>
                    #
                </th>
                <th>
                    Jméno
                </th>
                <th>
                    Příjmení
                </th>
                <th>
                    Třída
                </th>
                <th>
                    Email
                </th>
            </tr>
        {%for user in users%}
            <tr>
                <td>
                    {{forloop.counter}}
                </td>
                <td>
                    {{user.jmeno}}
                </td>
                <td>
                    {{user.prijmeni}}
                </td>
                <td>
                    {{user.trida}}
                </td>
                <td>
                    {{user.email}}
                </td>
            </tr>
        {%endfor%}
        </table>
    {%else%}
        <h1>Nejste administrátor!</h1>
    {%endif%}
{%endblock%}