{% extends "main.html" %}

{%block title%}
Uživatelé
{%endblock%}

{%block content%}
    {%if request.user.is_authenticated and request.user.role == "admin"%}
        <table>
            <tr>
                <th>
                    Jméno
                </th>
                <th>
                    Příjmení
                </th>
                <th>
                    Třída
                </th>
                <th>
                    Email
                </th>
            </tr>
        {%for user in users%}
            <tr>
                <td>
                    {{user.jmeno}}
                </td>
                <td>
                    {{user.prijmeni}}
                </td>
                <td>
                    {{user.trida}}
                </td>
                <td>
                    {{user.email}}
                </td>
            </tr>
        {%endfor%}
        </table>
    {%else%}
        <h1>Nejste administrátor!</h1>
    {%endif%}
{%endblock%}