{% extends "main.html" %}

{% block title %}{{ work.nazev }}{% endblock %}

{% block content %}
    <h1>{{ work.nazev }}</h1>
    <p><strong>Navrhl:</strong> {{ work.navrhovatel.jmeno }} {{ work.navrhovatel.prijmeni }}</p>
    <p><strong>Popis:</strong> {{ work.popis }}</p>
    <p><strong>Zpracovává:</strong> 
        {% if work.zpracovatel %}
            {{ work.zpracovatel.jmeno }} {{ work.zpracovatel.prijmeni }}
        {% else %}
            Zatím nikdo
        {% endif %}
    </p>
{% endblock %}