{% extends "main.html" %}

{% block title %}{{ work.nazev }}{% endblock %}

{% block content %}
<!--Zajištění, aby se na stránku dostal jen učitel, který tu zprávu "spravuje" nebo žák, který ji vypracovává.-->
{%if request.user.id == work.zpracovatel.id or request.user.id == work.schvalovatel.id%}    
    <h1>{{ work.nazev }}</h1>
    <p>{{ work.popis }}</p>
    <p><strong>Navrhl: </strong> {{work.navrhovatel.jmeno }} {{work.navrhovatel.prijmeni }}</p>
    <p><strong>Schváleno: </strong> {{work.schvaleno_emoji}}
    {%if work.schvaleno%}
    <p><strong>Schválil: </strong>{{work.schvalovatel}}</p> 
    <p><strong>Zpracovává: </strong> 
        {% if work.zpracovatel %}
            {{work.zpracovatel.jmeno }} {{work.zpracovatel.prijmeni }}
        {% else %}
            null
        {% endif %}
    {%endif%}
    </p>
{%endif%}
{% endblock %}