{% extends "main.html" %}

{% block title %}{{ work.nazev }}{% endblock %}

{% block content %}
    <h1>{{ work.nazev }}</h1>
    <p>{{ work.popis }}</p>
    <p><strong>Navrhl: </strong> {{work.navrhovatel.jmeno }} {{work.navrhovatel.prijmeni }}</p>
    <p><strong>Schváleno: </strong> {{work.schvaleno_text}}
    {%if work.schvaleno%}
    <p><strong>Schválil: </strong>{{work.schvalovatel}}</p> 
    <p><strong>Zpracovává: </strong> 
        {% if work.zpracovatel %}
            {{work.zpracovatel.jmeno }} {{work.zpracovatel.prijmeni }}
        {% else %}
            null
        {% endif %}
    {%endif%}
    </p>
{% endblock %}